.memo {
  background-color: WhiteSmoke;
  padding: 20px;
}

#wrap-expand,
nav {
  padding-left: 23px;
}

nav > ol li {
  list-style-type: none !important;
  position: relative;
  line-height: 1.2;
  padding: 3px 0 3px 5px;
  margin: 0;
}

nav > ol > li > ol > li {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 16px;
}

nav > ol > li {
  margin: 0.5em 0 0.65em;
}

nav > ol ol ol {
  margin: 8px 0 0 10px !important;
}

nav > ol li ol {
  display: none;
  padding-left: 0px;
  margin: 10px 0 0 21px;
}
nav > ol li.open > ol {
  display: block;
}
nav > ol li a {
  text-decoration: none;
  line-height: 1.2;
  vertical-align: text-top;
  font-weight: normal;
}

nav > ol li::before,
nav > ol li::after {
  position: absolute;
  left: -1.2em;
  border-style: dotted;
  border-color: #000000;
  border-width: 0px;
}
nav > ol li::before {
  content: ">";
  width: 8px;
  border-bottom-width: 1px;
}
nav > ol li::after {
  content: "";
  border-left-width: 1px;
  height: 100%;
  width: 0px;
  top: 1px;
}
nav > ol > li::before {
  width: 0px;
  line-height: 1.2;
}
nav > ol > li::after {
  height: 0px;
}
nav > ol > li li:last-child::after {
  height: 8px;
}

nav > ol > li > ol > li::before {
  top: 7px;
  height: 10px;
  left: -16px;
  padding-left: 15px;
  width: 1px;
}

nav > ol > li > ol > li::after {
  left: -17px;
  top: 10px;
}

nav > ol > li > ol > li.open > ol > li::before {
  left: 4px;
  top: 2px;
  height: 10px;
  padding-left: 15px;
  width: 0px;
}

nav > ol > li > ol > li.open > ol > li::after {
  top: 5px;
  left: 4px;
}

nav > ol > li:not([data-type="preface"]) > ol > li::before {
  top: 5px;
  height: 11px;
  width: 0px;
  padding-left: 14px;
  padding-top: 2px;
  line-height: 1.2;
}

nav > ol > li:not([data-type="preface"]) > ol > li > a {
  margin-left: 9px;
}

nav > ol > li.open > ol > li.open > ol > li {
  padding-left: 35px;
}

nav > ol > li::before {
  content: "⊞";
}
nav > ol > li.open::before {
  content: "⊟";
}

li.open:not([data-type="preface"]) > ol > li::before {
  content: "⊞";
}
li.open:not([data-type="preface"]) > ol > li.open::before {
  content: "⊟";
}

ol li ol li ol li::before {
  content: ">" !important;
}

nav > ol > li[data-type="part"]::before,
nav > ol > li[data-type="index"]::before {
  content: ">";
}
nav > ol > li[data-type="part"] {
  margin: 35px 0 35px 5px;
}

ol {
  color: initial;
  font-weight: normal !important;
}

li {
  color: #8e6400;
}

li::before,
li::after {
  border-color: #8e6400 !important;
}

.dark li {
  color: #83a61d;
}

.dark li::before,
.dark li::after {
  border-color: #83a61d !important;
}

a#expand {
  text-decoration: dotted underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
}
a#expand:hover {
  text-decoration-style: solid;
}

a[style="font-weight: bold;"],
li[style="font-weight: bold;"] {
  color: red;
}

.dark a[style="font-weight: bold;"],
.dark li[style="font-weight: bold;"] {
  color: #df9509;
}

li > :only-child::before {
  content: ">";
  background-color: #fff;
  z-index: 999;
  padding: 0 4px 0 0;
  position: absolute;
}

nav > ol > li > :only-child::before {
  left: -22px;
  top: 4px;
}

nav > ol > li > ol > li > :only-child::before {
  left: -2px;
  top: 7px;
}

nav > ol > li > ol > li > ol > li :only-child::before {
  left: 17px;
  top: 2px;
}

.dark li > :only-child::before {
  color: #83a61d;
  background-color: #2d2d2d;
}

a[style="font-weight: bold;"]:only-child::before,
li[style="font-weight: bold;"] > a:only-child::before {
  color: red;
  font-weight: bold;
}

.dark a[style="font-weight: bold;"]:only-child::before,
.dark li[style="font-weight: bold;"] > a:only-child::before {
  color: #df9509;
  font-weight: bold;
}
